[Unit]
Description=prusalink-screen
Conflicts=getty@tty7.service
After=systemd-user-sessions.service getty@tty7.service plymouth-quit.service

[Service]
Type=notify
NotifyAccess=all
EnvironmentFile=/etc/prusalink-screen/config
ExecStart=/usr/bin/xinit /usr/bin/prusalink-screen -- :0 -nolisten tcp -nocursor
ExecStartPost=/bin/bash /etc/prusalink-screen/disablescreenblank.sh 0
StandardOutput=journal
Restart=always
WatchdogSec=40s

[Install]
WantedBy=multi-user.target
